.btn {
  width: 30%;
  height: 40px;
  color: white;
  /* background-color: #4caf50; */
  border: none;
}
body {
  margin: 0px;
  padding: 0px;
  /* background-image: url("/static/images/Wallpaper.jpg") cover; */
}
@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
