<!-- Title -->
<title>Company Job Requiement</title>


{% extends 'companynavbar.html' %}
{% block companynavbar %}


<style>
    iframe {
        width: 100%;
        height: 500px;
    }
</style>

<div class="container">
    <div id="jobreqtext">
        {% if companyDetails.jobTitle %}
        <p>Job positions vacant: {{companyDetails.jobTitle}}</p>
        {% endif %}
    </div>
    <br><br><br>
    <form id='job-title'>
        <div class="mb-3">
            <label for="job" class="form-label">Update job position you are looking for : </label>
            <input class="form-control" type="text" name='position' id="job" required
                value="{% if companyDetails.jobTitle %}{{companyDetails.jobTitle}}{% endif %}">
        </div>

        <div class="mb-3">
            <label for="pdf" class="form-label">Upload requirements in pdf format: </label>
            <input class="form-control" type="file" name='pdf' id="pdf" required>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Update</button>
        <div id='message'></div>
    </form>
</div>

<div class="container" id="jobreq">
    {% if companyDetails.pdf %}
    <iframe src="static/companyJobRequiement/{{companyDetails.pdf}}" allowfullscreen></iframe>
    {% endif %}
</div>


<script>
    $(document).ready(function () {
        $("form").on('submit', (function (e) {
            e.preventDefault();
            $.ajax({
                url: "/companyRequirement",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    data = jQuery.parseJSON(data);
                    $('#message').html('<div class="alert alert-success alert-dismissible fade show" role="alert">Successfully Updated<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                    $("#jobreq").html('<iframe src="static/companyJobRequiement/' + data.pdf + '" allowfullscreen></iframe>');
                    $("#jobreqtext").html('Job positions vacant: ' + data.job);
                }
            });
        }));
    });
</script>
{% endblock companynavbar %}