<!-- Title -->
<title>Company Profile</title>

{% extends 'companynavbar.html' %}
{% block companynavbar %}
<div class="container">
	<p style="font-size: 20px; font-family: serif, georgia">
		Name : <b>{{companyDetails.name}}</b>
	</p>
	<p style="font-size: 20px; font-family: serif, georgia">
		Email : <b>{{companyDetails.username}}</b>
	</p>
</div>
<hr />
<br /><br /><br />



<div class="container">
	{% if companyfavourite %}
	<h1>Your favourites</h1>
	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Position
				</th>
				<th>
					Resume
				</th>
				<th>
					Favorite
				</th>
			</tr>
		</thead>
		<tbody>
			{% for i in companyfavourite %}
			{% set companyDetails = userdetailsincompanyfavourite(i.usersno) %}
			<tr id="tr{{companyDetails.sno}}">
				<td>{{companyDetails.name}}</td>
				<td style="font-weight: bold">
					{% if companyDetails.position %}
					{{companyDetails.position}}
					{% else %}
					No Details
					{% endif %}
				</td>
				<td>
					{% if companyDetails.resume %}

					<a href="static/resumes/{{companyDetails.resume}}" class="btn btn-primary" target="__blank">
						View resume
					</a>
					{% else %}
					No Resume
					{% endif %}
				</td>
				<td>
					<style>
						.btn-check:focus+.btn,
						.btn:focus {
							outline: 0;
							box-shadow: none;
						}
					</style>
					<div id="deletefavourite{{companyDetails.sno}}">
						<form class="deletefavourite" id="{{companyDetails.sno}}">
							<input type="hidden" name="usersno" value="{{companyDetails.sno}}">
							<button type="submit" class="btn" class="update_form">
								<i type="submit" class="fa fa-star" style="color: yellow;font-size: 30px;"></i>
							</button>
						</form>
					</div>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>

<script>
	$(document).ready(function () {
		$(".deletefavourite").on('submit', (function (e) {
			e.preventDefault();
			var id = $(this).attr('id');
			$.ajax({
				url: "/deletecompanyfavourite",
				type: "POST",
				data: new FormData(this),
				contentType: false,
				cache: false,
				processData: false,
				success: function (data) {
					$("#tr" + id).hide();
				}
			});
		}));
	});
</script>
{% endblock companynavbar %}