<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Resume Recommendation</title>
  <meta charset="UTF-8" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/style.css">
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='js/index.js')}}" /> -->

<body>

  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" class="aos-init aos-animate" style="color:cyan;">We offer modern solutions for Scouts &
            Applicants.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate" style="color: white;">A website that
            helps YOU, make finding and getting jobs easy.</h2>
          <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
            <div class="text-center text-lg-start">
              <a href="/companylogin"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Recruiter</span>

                <i class="bi bi-arrow-right"></i>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/userlogin"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Job Seeker</span>

                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
          <img src="https://bootstrapmade.com/demo/templates/FlexStart/assets/img/hero-img.png" class="img-fluid"
            alt="">
        </div>
      </div>
    </div>

  </section>
</body>

</html>

<script>
  $(".info-item .btn").click(function () {
    $(".container").toggleClass("log-in");
  });
  $(".container-form .btn").click(function () {
    $(".container").addClass("active");
  });
</script>