<!-- Title -->
<title>User Profile</title>

{% extends 'usernavbar.html' %}
{% block usernavbar %}
<div class="container">
	<br /><br />
	<p>Name : <b>{{user.name}}</b></p>
	<p>Email :<b> {{user.username}}</b></p>
	<div id="jobposition">
		{% if user.position %}
		<p>Job position currently looking for : <b>{{user.position}}</b></p>
		{% endif %}
	</div>
	<hr />
	<br />

	<form id="searchingjobposition">
		<div class="mb-3">
			<label for="job" class="form-label">Update job position you are looking for :
			</label>
			<input class="form-control" type="text" name="position" id="job" required style="width: 50%" />
		</div>
		<div style="width: 30%" id="message"></div>
		<button type="submit" class="btn btn-primary mb-3">Update</button>
	</form>

	<br /><br />

	<form id="insertresume">
		<div class="mb-3">
			<label for="formFile" class="form-label">Upload your resume:</label>
			<input class="form-control" type="file" name="file" id="formFile" required style="width: 50%" />
		</div>
		<button type="submit" class="btn btn-primary mb-3">Upload</button>
	</form>
</div>

<div class="container">
	<div id="yourresume">
		{% if user.resume %}
		<style>
			iframe {
				width: 100%;
				height: 50rem;
			}
		</style>

		<p>Your Resume</p>
		<iframe src="static/resumes/{{user.resume}}" allowfullscreen></iframe>
		{% endif %}
	</div>
</div>
<script src="{{url_for('static', filename='js/profile.js')}}"></script>

{% endblock usernavbar %}