<!-- Title -->
<title>Search User</title>
{% extends 'companynavbar.html' %}
{% block companynavbar %}
<div class="container">
	<h1 class="text-center" style="font-family: serif, georgia; font-weight: bold; padding-top:20px">
		Search for Job Seekers
	</h1>
	<hr />
	<br />
	{% set companyjobreq = companyjobreq() %} <b>{% if jobsearchers %} Search :</b>
	<i class="fa fa-search"></i> <input type="text" name="text" id="myInput" placeholder="Search Job Seekers" />
	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}
	</style>
	<div style="text-align:right; padding-right:50px">
		<b>Minimum Percentage %:</b>
		<input type="number" name="minimum" id="minimum" min="0" width="400" placeholder="Search by %" />
	</div>
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Position</th>
				<th>Resume</th>
				<th>Favorites</th>
				<th>Resume match</th>
			</tr>
		</thead>
		<tbody id="myTable">
			{% for i in jobsearchers %}
			<tr id="tr{{i.sno}}">
				<td>{{i.name}}</td>
				<td style="font-weight: bold">
					{% if i.position %} {{i.position}} {% else %} No Details {% endif
					%}
				</td>
				<td>
					{% if i.resume %}

					<a href="static/resumes/{{i.resume}}" class="btn btn-primary" target="__blank">
						View resume
					</a>
					{% else %} No Resume {% endif %}
				</td>
				<td>
					<style>
						.btn-check:focus+.btn,
						.btn:focus {
							outline: 0;
							box-shadow: none;
						}
					</style>

					{% if userincompanyfavourite(i.sno) == 0 %}
					<div id="addfavourite{{i.sno}}">
						<form class="addfavourite" id="{{i.sno}}">
							<input type="hidden" name="usersno" value="{{i.sno}}" />
							<button type="submit" class="btn" class="update_form">
								<i type="submit" class="fa fa-star" style="color: black; font-size: 30px"></i>
							</button>
						</form>
					</div>
					<div id="deletefavourite{{i.sno}}" style="display: none">
						<form class="deletefavourite" id="{{i.sno}}">
							<input type="hidden" name="usersno" value="{{i.sno}}" />
							<button type="submit" class="btn" class="update_form">
								<i type="submit" class="fa fa-star" style="color: yellow; font-size: 30px"></i>
							</button>
						</form>
					</div>
					{% else %}
					<div id="addfavourite{{i.sno}}" style="display: none">
						<form class="addfavourite" id="{{i.sno}}">
							<input type="hidden" name="usersno" value="{{i.sno}}" />
							<button type="submit" class="btn" class="update_form">
								<i type="submit" class="fa fa-star" style="color: black; font-size: 30px"></i>
							</button>
						</form>
					</div>
					<div id="deletefavourite{{i.sno}}">
						<form class="deletefavourite" id="{{i.sno}}">
							<input type="hidden" name="usersno" value="{{i.sno}}" />
							<button type="submit" class="btn" class="update_form">
								<i type="submit" class="fa fa-star" style="color: yellow; font-size: 30px"></i>
							</button>
						</form>
					</div>
					{% endif %}
				</td>
				<td>
					{% if companyjobreq %}
					{% if i.resume %}
					<input type="hidden" id="percentage" value="{{ percentagematch(companyjobreq, i.resume) }}">
					<b>{{ percentagematch(companyjobreq, i.resume) }}</b>
					{% else %}
					<input type="hidden" id="percentage" value="-1">
					No Resume
					{% endif %}
					{% else %}
					<input type="hidden" id="percentage" value="-1">
					No Job requirements uploaded
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div>No job seakers</div>
	{% endif %}
</div>
<script>
	$(document).ready(function () {
		$("#minimum").on("keyup", function () {
			var value = parseInt($(this).val());
			$("#myTable tr").each(function () {
				var trvalue = parseFloat($(this).find("input#percentage").val());
				if (trvalue < value) {
					$(this).hide();
				} else {
					$(this).show();
				}
			});
		});

		$("#myInput").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
			});
		});

		$(".addfavourite").on("submit", function (e) {
			e.preventDefault();
			var id = $(this).attr("id");
			$.ajax({
				url: "/addcompanyfavourite",
				type: "POST",
				data: new FormData(this),
				contentType: false,
				cache: false,
				processData: false,
				success: function (data) {
					$("#addfavourite" + id).hide();
					$("#deletefavourite" + id).show();
				},
			});
		});

		$(".deletefavourite").on("submit", function (e) {
			e.preventDefault();
			var id = $(this).attr("id");
			$.ajax({
				url: "/deletecompanyfavourite",
				type: "POST",
				data: new FormData(this),
				contentType: false,
				cache: false,
				processData: false,
				success: function (data) {
					$("#deletefavourite" + id).hide();
					$("#addfavourite" + id).show();
				},
			});
		});
	});

</script>
{% endblock companynavbar %}